<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Admin Analytics</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../admin.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <%if(authorized){%>
        <script src="admin.js"></script>
        <div class="suggestions">
            <h1>Suggestions</h1>

            <table>
                <tr>
                    <th>X</th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Suggestion</th>
                </tr>
                <%for(let i=0;i<suggestions.length;i++){%>
                <tr id="<%=suggestions[i]['id']%>">
                    <td><button onclick="removeSuggestion(<%=suggestions[i]['id']%>);">X</button></td>
                    <td><%=suggestions[i]['email']%></td>
                    <td><p><%=suggestions[i]['name']%></p></td>
                    <td><p><%=suggestions[i]['App Name']%></p></td>
                <%}%>
                
                </tr>
              </table>

        </div>
        
        <div class="Charts">
            <canvas id="visitorsChart" style="width:100%;max-width:700px"></canvas>
            <script>

            </script>
        </div>
        
        <div class="visits">
            <h1>Visits</h1>
            <table>
                <tr>
                    <th>Page/File</th>
                    <th>Visits</th>
                </tr>
                <%for(let i=0;i<apps.length;i++){%>
                    <%if(apps[i]['visits']!=0){%>
                    <tr id="<%=apps[i]['id']%>">
                        <td><p><%=apps[i]['name']%></p></td>
                        <td><p><%=apps[i]['visits']%></p></td>
                    </tr>
                    <%}%>
                <%}%>
                </table>
        </div>
    <%} else{%>
            <h1>Not Authorized</h1>
            <input id="cookieName" placeholder="Name">
            <input type="password" id="password" placeholder="Password">
            <button id="submit">Submit</button>
            <script>
                //set cookie to password
                document.getElementById("submit").addEventListener("click", function(){
                    document.cookie = document.getElementById('cookieName').value+"=" + document.getElementById("password").value;
                    location.reload();
                });
            </script>
        <%}%>
    </body>
</html>