<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HW <%=new Date().toISOString().slice(0, 10)%></title>
    <link rel="icon" type="image/x-icon" href="/doc.ico" />
    <link href="/css/bootstrap-4.4.1.css" rel="stylesheet" />
    <link href="/css/index.css" rel="stylesheet" />
    <link rel="manifest" href="/manifest.json" />
    <script src="/fullScreen.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3855909962178868"
     crossorigin="anonymous"></script>
    
  </head>
  <body>
    <!-- Install button, hidden by default -->
    <header>
      <nav>
        <ul>
          <li>
            <img
              id="logo"
              src="../images/logos/RocketLogo-nobg@0.5x.png"
              alt="logo"
			  href="index.html"
            />
          </li>
          <li>
            <a style="color: #fff;
                  background-color: rgba(33, 33, 33, 0.7);
                  border-radius: 10px;
                  box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.2);" href="#"><strong>Physics Central</strong></a>
          </li>
          <li><a href="/mirrors">Mirrors</a></li>
          <li><a href="/requestapp">Requests</a></li>
		  <li><a href="https://github.com/Zaydo123/html-game-server/issues/new" target="_blank">Bug Reports</a></li>
          <li><a href="mailto:zayd@physics-central.com">Contact</a></li>

		  </ul>
      </nav>
    </header>



    <!-- PHYSICS ANALYTICS -->

    <iframe hidden="true" src="https://zaydiscool.com/io/<%=process.env.URL%>/<%=app.id%>"></iframe>


    <!--                    -->




    <div class="gamearea">
      <div class="ADS" id="AD-LEFT">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3855909962178868"
        crossorigin="anonymous"></script>
        <!-- leftIframe -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:140px;height:480px"
             data-ad-client="ca-pub-3855909962178868"
             data-ad-slot="4563054865"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
     


      <!------------------------------------------------------------------------------------------->

          <%if(app.gamedistribution!="NULL"&&app.gamedistribution!=""&&app.gamedistribution!=null){%>
          <script>console.log("game using gamedistribution iframe")</script>
          <iframe id="app-iframe" src="https://html5.gamedistribution.com/<%=app.gamedistribution%>/?gd_sdk_referrer_url=https://www.physics-central.com/app/<%=app.id%>" width="920" height="480" scrolling="none" frameborder="0"></iframe>
          <%}else{%>
            <iframe id="app-iframe" height="500" width="950" src="https://pub-637cdac4a2724b4abe6bc8ea25d07c61.r2.dev/<%=app.id%>/index.html"></iframe>

            <script>
              //every 5 seconds check if the iframe is focused

              //on iframe click focus it
              document.getElementById("app-iframe").addEventListener("click", function(){
                focusIframe(); 
              });
              function focusIframe(){
                let frame = document.getElementById('app-iframe');
                frame.focus(); 
                //disable scrolling
                frame.contentWindow.document.body.style.overflow = 'hidden';  
                return frame
              }

              let myIframe = focusIframe();
              myIframe = myIframe.contentWindow
              myIframe.addEventListener("keydown", function(evt) { myIframe.myKeydownEventHandler(evt); });
              let needsConstantFocus;
              <%if(app.needsConstantFocus==1){%>
                needsConstantFocus = true;
              <%}else{%>
                needsConstantFocus = false;
              <%}%>

              if(needsConstantFocus){
                console.log("game needs constant focus");
                setInterval(function() {
                  myIframe.focus(); 
                }, 5000);
              } else{
                console.log("game does not need constant focus");
              }

            </script>
          <%}%>
          <div class="ADS" id="AD-RIGHT">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3855909962178868"
            crossorigin="anonymous"></script>
            <!-- iframeright -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:140px;height:480px"
                 data-ad-client="ca-pub-3855909962178868"
                 data-ad-slot="4585986036"></ins>
            <script>
                 (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </div>


    </div>
    <!--<iframe id="app-iframe" height="800" width="1000" onclick="focusIframe()" src=""></iframe>-->
    

    <div class="game-controls">
      <button id="fullscreenButton" onclick="openFullscreen('app-iframe')">Fullscreen</button>
      <%if(app.mirrors!="NULL"&&app.mirrors!=[]&&app.mirrors.length>0){%>
          <select class="mirrors" onchange='changeMirror()'>
            <%for(let i = 0; i < app.mirrors.length; i++){%>
              <%let mirror = app.mirrors[i];%>
                <option value="<%=mirror.url%>"><%=mirror.name%></option>
            <%}%>
          </select>
          
          <%}%>
    </div>
    
    <script>
      function changeMirror(){
        let url = document.getElementsByClassName("mirrors")[0].value;
        document.getElementById("app-iframe").src=url;
      }
    </script>
    <hr />

    <footer class="gamepage-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h5>Thank You For The Support</h5>
            <p>
              We really appreciate the support we get from our users. We are
              always looking for ways to improve our site and make it better for
              you.
            </p>
          </div>
          <div class="col-md-4">
            <h5>Here! Steal our site!</h5>
            <p onclick=window.location.href="https://github.com/Zaydo123/html-game-server">
              Click this link to download the source code for this site. You can
              use it to make your own site, or just to learn from. We don't
              care. Just don't steal our name.
            </p>
          </div>
          <div class="col-md-4">
            <h5>Help us out</h5>
            <p>
              If you want to help us out, please request games you'd like to see! We will try to add them as soon as possible.
            </p>
          </div>

        </div>
      </div>
     
    </footer>
    <!-- BootstrapJS -->
    <script src="/Plugin/jquery-3.4.1.min.js"></script>
    <script src="/Plugin/popper.min.js"></script>
    <script src="/Plugin/bootstrap-4.4.1.js"></script>
  </body>
</html>
